/* PRW Embalagens */

.main__PRW {
  background-color: #ECECEC;
  padding: 6rem 0;
}

.container__prw {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

.image__prw {
    flex: 1;
    max-width: 40%;
    text-align: center;
}

.image__prw img{
  height: auto;
  max-height: 250px;
  max-width: 100%;
}

.text__prw {
  width: 380px;
  height: 375px;
  display: grid;
  align-items: center;
  text-align: center;

  a{
    margin-left: auto;
    margin-right: auto;
  }
}

.buttonPRW{
  background-color: #80330A
}

.buttonPRW:hover {
  background: #ED6F00;
}

/* CONTACT */

.container__contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8rem 0;
  gap: 3rem;
}

.contact__text {
  max-width: 25rem;

  h2 {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 2rem;
  }

  img {
    height: 24px;
  }
}

.contact__list {
  display: grid;
  gap: 1.5rem;
  max-width: 45%;
}

ul li,
ul li a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #767676;
}

ul li img {
  height: 24px;
  width: 24px;
  flex-shrink: 0;
}
