main {
  padding-top: 8rem
}

.service__item {
    display: flex;
    gap: 3rem;
    margin-bottom: 5rem;
}

.service__item img {
    max-width: 45%;
    height: auto;
    flex-shrink: 0;
    border-radius: 0.25rem; 
}

.service__item__content,
.service__item__content__reverse {
    display: grid;
    align-content: space-between;
}

.line {
    height: 1px;
    background: #e4e4e4;
    border: none;
}

/* CONTACT */

.container__contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8rem 0;
  gap: 3rem;
}

.contact__text {
  max-width: 25rem;

  h2 {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 2rem;
  }

  img {
    height: 24px;
  }
}

.contact__list {
  display: grid;
  gap: 1.5rem;
  max-width: 45%;
}

ul li, ul li a {
  display: flex;
  align-items: center;
  gap:  0.75rem;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #767676; 
}

ul li img {
    height: 24px;
    width: 24px;
    flex-shrink: 0; 
}

.button {
  width: 256px;
  height: 50px;
  background-color: #809DBF;
  border-radius: 0.25rem;
  border: none;
  color: #F9F9F9;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  transition: background 0.3s;
}

.button:hover {
  background: #617FBF;
}